#contents .post { margin-bottom:0px; }
.leader-st
{
    font-style:oblique;
    font-size:130%;
    text-align:center;
}
.age-st
{
    font-size:95%;
    text-align:right;
}
.profile-about
{
    text-align:center;
    font-size:130%;
    text-decoration:underline;
}
.profile-about-text
{
    font-style:oblique;
    font-size:110%;
    text-indent:30px;
}
